body {
  background-color: #696969;
  color: #D3D3D3;
  margin: 10px;
}

a {
  color: #BFEFFF;
}

a:hover {
  color: #BFEFFF;
}

#header {
  background-color: #778899;
}

/* #story {

} */

#schedule {
  padding-left: 20px;
}

#final-notes {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-left: 10px;
}